<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Categories</h1>
    <h2>Mains</h2>
    <% menuItems.filter(item => item.category === 'mains').forEach(item => { %>
        <div>
          <ul>
            <li><%= item.name %></li>
            <ul>
            <li><%= item.details %></li>
            <li>Rating: <%= item.rating %>/5</li>
            <li>Price: $<%= item.price %></li>
        </ul>
    </ul>
  <% }) %>
  <h2>Desserts</h2>
  <% menuItems.filter(item => item.category === 'desserts').forEach(item => { %>
    <div>
      <ul>
        <li><%= item.name %></li>
        <ul>
        <li><%= item.details %></li>
        <li>Rating: <%= item.rating %>/5</li>
        <li>Price: $<%= item.price %></li>
    </ul>
</ul>
  <% }) %>
  <h2>Sides</h2>
  <% menuItems.filter(item => item.category === 'sides').forEach(item => { %>
    <div>
      <ul>
        <li><%= item.name %></li>
        <ul>
        <li><%= item.details %></li>
        <li>Rating: <%= item.rating %>/5</li>
        <li>Price: $<%= item.price %></li>
    </ul>
</ul>
<% }) %>

</body>
</html>